@font-face{
    font-family: 'myriad-black';
    src: url(../assets/fonts/Myriad\ Pro\ Black.otf);
}

@font-face{
    font-family: 'myriad-bold';
    src: url(../assets/fonts/Myriad\ Pro\ Bold.ttf);
}

@font-face{
    font-family: 'myriad-light';
    src: url(../assets/fonts/Myriad\ Pro\ Light.otf);
}

@font-face{
    font-family: 'myriad-regular';
    src: url(../assets/fonts/Myriad\ Pro\ Regular.ttf);
}

:root{
    /* colors */
    --main-white : #fcfcfc;

    --main-blue : #152b42;
    --light-blue : #00a0d0;
    --aqua-blue : #00d0c2;

    /* fonts */
    --montserrat : 'Montserrat', sans-serif;
    --myriad-black : 'myriad-black';
    --myriad-bold  : 'myriad-bold';
    --myriad-light : 'myriad-light';
    --myriad-regular : 'myriad-regular';
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--myriad-black);
}

p{
    font-family: var(--myriad-regular);
}

.d-column{
    display: flex !important;
    flex-direction: column !important;
}

.d-row{
    display: flex !important;
    flex-direction: row !important;
}

.w-50{
    width: 50% !important;
}

.w-100{
    width: 100% !important;
}

.w-25{
    width: 25% !important;
}

.d-none{
    display: none !important;
    transition: all .9s ease-in-out !important;
}

.container{
    padding: 0 60px !important;
}

body{
    margin: 0em !important;
}

.go-up{
    background-color: #fcfcfc;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    position: fixed;
    bottom: 160px;
    right: -100px;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 8px 27px rgba(0, 0, 0, 0.562);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.go-up:hover{
    background-color: var(--aqua-blue);
    
}

.go-up i{
    font-size: 40px;
    color: var(--main-blue);
}

.go-up:hover i{
    color: #fcfcfc;
}

.wpp-me{
    position: fixed;
    bottom: 60px;
    right: 40px;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.wpp-me i{
    text-shadow: 10px 8px 27px rgba(0, 0, 0, 0.562);
    font-size: 65px;
    color: #25d366;
    transition: all .3s ease-in-out;
}

.wpp-me i:hover{
    color:#128c7e;
}


/* user message */
.user-msg-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100px;
    margin: 0px auto;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: absolute;
    top: -100px;
    animation-name: user_message;
    animation-duration: 5s;
    left: 15%;
    right: 15%;
    z-index: 99999;    
}

@keyframes user_message {
    0% {top: -100px}
    25% {top: 0px}
    50% {top: 0px}
    75% {top: 0px}
    100% {top: -100px}
}

.correct-msg{
    background-color: var(--aqua-blue);
}

.wrong-msg{
    background-color: rgba(255, 0, 0, 0.705);
}

.user-msg-div h1{
    margin: 0px !important;
    color: var(--main-white);
    font-family: var(--myriad-regular);
    text-align: center;
    font-size: 25px;
}
/* user message */

/* nav */
nav{
    width: 100% !important;
    display: flex;
    flex-direction: row;
}

.nav-buttons-mobile{
    display: none;
}

.mobile-menu-nav{
    display: none;
}

nav div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.decoration{
    height: 160px !important;
    position: absolute;
    z-index: 100;
    /* transform: rotate(90deg); */
}

.logo-institution .contact-nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.contact-nav a{
    color: var(--main-blue);
    text-decoration: none !important;
    font-size: 20px;
    font-family: var(--myriad-regular);
    margin: 0px 20px;
    text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.262);;
}

.contact-nav a:hover{
    color: var(--light-blue);    
}

.fixed-nav-bar{
    position: fixed;
    top: -60px;
    height: 60px ;
    width: 100%;
    background: linear-gradient(to right ,var(--aqua-blue) , var(--main-white) 35%);
    z-index: 110 !important;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.658);
    transition: all 0.4s ease-in-out !important;
}

.fixed-nav-bar .nav-buttons{
    margin: auto 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    padding-right: 30px !important;
}

.fixed-nav-bar .nav-buttons a{
    color: var(--main-blue);
    text-decoration: none !important;
    font-size: 17px;
    font-family: var(--montserrat);
    margin: 0px 20px;
    /* text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.762); */
}

.nav-bar{
    height: 60px ;
    width: 100%;
    background: linear-gradient(to right ,var(--aqua-blue) , var(--main-blue) 35%);
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.658);
}

.nav-bar .nav-buttons{
    margin: auto 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    padding-right: 30px !important;
}

.nav-bar .nav-buttons a{
    color: var(--main-white);
    text-decoration: none !important;
    font-size: 17px;
    font-family: var(--montserrat);
    margin: 0px 20px;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.562);
    /* transition: all 0.4s ease-out; */
}

.nav-buttons-main:hover{
    transition: all 0.4s ease-in-out;
    font-size: 18px !important;
    color: var(--aqua-blue) !important;
}


.nav-bar .nav-buttons a:last-child{
    margin-right: 0px !important;
}

.logo-institution{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.logo-institution p{
    color: var(--main-blue);
    font-family: var(--montserrat);
    font-size: 20px;
    margin-left: 10px;
}

.logo-buildings{
    width: 60px;
}
/* nav */

.img-home{
    width: 100% !important;
    background-image: url(../assets/images/parkcid.jpg);
    width: 100%; 
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.eslogan{
    color: white;
    text-align: center;
    font-size: 80px;
    max-height: 100vh !important;
    display: flex;
    align-items: end;
    padding-bottom: 60px;
    margin-top: 0px !important;
    margin-bottom: 0px;
    font-style: italic;
    font-family: var(--myriad-light);
    text-shadow: 7px 7px 6px #000000;
}

/* contact form */
.contact{
    padding: 0px 60px;
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 90px;
    background: rgb(54,79,105);
    background: linear-gradient(90deg, rgba(54,79,105,1) 7%, rgba(21,43,66,1) 46%);
}

.contact h2{
    text-align: center;
    width: 100%;
    color: var(--main-white);
    font-size: 40px;
    margin-bottom: 0px !important;
}

.contact div{
    width: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: row;   
}

.contact .contact-us{
    align-items: start;
    justify-content: start;
}

.contact-div{
    height: 220px;
}

.contact-div .contact-us{
    height: 100%;
}

.contact-us .contact-data p{
    font-size: 30px;
    margin: 10px 0px;
    color: var(--main-white);
    font-family: var(--myriad-regular);
}

.contact-data{
    align-items: start !important;
}

.contact-us p:first-child{
    margin-top: 0px !important;
}

.contact-us-form{
    height: 100%;
    justify-content: start !important;
}

#contact-form{
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#contact-form .name{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

#contact-form .email{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
}

#contact-form .reason{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

#contact-form .sent-form{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 3;
    transition: all 0.3s ease-in-out;
}

#contact-form .address{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
}

#contact-form input, #contact-form select{
    height: 40px !important;
    border: none;
    color: #f0e9e9;
    background-color: var(--main-blue) !important;
    border-bottom: solid;
    font-size: 20px;
}

#contact-form input::placeholder{
    color: #f0e9e9;
}

#contact-form input:focus, #contact-form select:focus{
    outline: none !important;
    border-color: #00d0c2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
    border-bottom: 4px solid #f0e9e9 !important;
    -webkit-text-size-adjust: 20px !important;
    -webkit-text-fill-color: #f0e9e9 !important;
    -webkit-box-shadow: 40px 0  0px 30px #152b42 inset !important;
}


#contact-form .sent-form{
    border: solid !important;
    background-color: var(--light-blue) !important;
    color: var(--main-white);
    border-radius: 6px;
    height: 40px;
    border-color: var(--light-blue) !important;
    font-family: var(--myriad-regular);
    font-size: 20px;
}

#contact-form .sent-form:hover{
    background-color: var(--main-white) !important;
    border-color: var(--main-white) !important;
    color: #152b42 !important;
    font-family: var(--myriad-bold);
}

.input-required{
    border-color: red !important;
}
            
.social-media {
    display: flex;
    flex-direction: row;
    justify-content:left !important;
    margin-top: 20px;
}

.social-media  a{
    font-size: 40px;
    color: var(--main-white);
    margin-right: 35px;
    transition: all 0.2s ease-in-out;
}

.social-media  a:hover{
    font-size: 40px;
    fill: var(--aqua-blue);
}

.social-media  a svg{
    width: 40px;
    height: 40px;
}

.social-media  a svg:hover{
    width: 45px;
    height: 45px;
    transition: all .2s ease-in-out;
    fill: var(--aqua-blue) !important;
}

.media-icons{
    fill: var(--main-white);
}

.media-icons:hover{
    fill: var(--aqua-blue) !important;
}

.contact-text{
    text-align: center;
    color: var(--main-white);
    font-size: 25px;
    margin: 10px 50px;
    margin-bottom: 50px;
}

/* contact form */

/* we are */
.we-are {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.we-are h1{
    font-size: 35px;
    color: var(--main-blue);
}

.we-are p{
    font-size: 25px;
    color: var(--main-blue);
    text-align: center;
}

.title-span{
    font-weight: 900;
}

/* we are */

/* consorcio libre */
.our-suppliers{
    margin-top: 10px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.our-suppliers .consorcio-libre, .our-suppliers .suppliers{
    padding: 0px 20px;
}

h4{
    width: 100%;
    font-size: 40px;
    color: var(--main-blue);
    text-align: center;
    margin-bottom: 0px !important;
}

.consorcio-libre{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suppliers{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.suppliers img{
    margin: 20px 30px;
    max-width: 200px !important;
    min-width: 170px;
}

.conosrcio-libre p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.consorcio-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.info-consorcio{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.div-qr-data{
    display: flex;
    flex-direction: column;
}

.logo-consorcio{
    width: 500px;
    margin-bottom: 60px;
}

.div-qr{
    width: fit-content !important;
    padding: 25px 25px;
    background-color: var(--main-white);
    border-radius: 20px;
    box-shadow: 10px 8px 27px rgba(0, 0, 0, 0.562);
    cursor: pointer;
}

.div-qr img{
    width: 160px;
}

.registrate-consorcio{
    color: var(--main-blue);
    font-size: 25px !important;
    text-align: center;
    margin: 0px !important;
}

.store-consorcio{
    color: var(--main-blue);
    font-size: 25px;
    text-align: center;
}

.store-consorcio span{
    font-weight: 800 !important;
    margin: 0px 8px;
}

.video-consorcio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-yt{
    width: 80%;
    height: 250px;
    box-shadow: 9px 9px 25px rgba(0, 0, 0, 0.658);
}

.div-video-qr{
    width: 90%;
}

.consorcio-button{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    font-size: 30px;
    background-color: var(--light-blue);
    color: var(--main-white);
    font-family: var(--montserrat);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

.consorcio-button:hover{
    background-color: var(--main-blue);
}
/* consorcio libre */


/* pages */

/* contable */
.section-contable{
    display: flex;
    flex-direction: row;
}

.section-contable .contable-services{
    width: 50%;
    padding: 0px 30px;
}

.section-contable .us-contable{
    width: 50%;
    padding: 0px 30px;
}

.section-contable .us-contable h3{
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    color: var(--main-blue);
    margin-top: 0px !important;
}

.section-contable .us-contable p{
    text-align: center;
    font-size: 22px;
    color: var(--main-blue);
}

.us-contable p span{
    font-weight: 800 !important;
    font-size: 23px;
}

.div-contable{
    margin-left: 40px;
    background-color: var(--main-blue);
    /* transition: all .8s ease-in-out; */
}

.div-contable h3{
    margin-bottom: 5px;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 25px;
    font-family: var(--montserrat);
    color: #f0e9e9;
    cursor: pointer;
}

.div-contable h3 i{
   margin-right: 10px;
}

.div-contable div p{
    margin: 8px 0px;
    font-size: 20px;
    color: #fcfcfc;
}

.contable_radius{
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.658);
}

.cont-list{
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 25px;
    padding-top: 0px;
}

/* contable */

/* new airs */
.new-airs-page{
    margin-top: 50px;
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
}

.newairs-logo{
    width: 300px;
}

.newairs-data{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.we-are p{
    font-size: 22px;
}

.we-are p span{
    font-weight: 800;
}

.we-are p span a{
    color: #00d0c2;
}

.we-are p span a:hover{
    color: #152b42;
    font-size: 25px;
    transition: all .5s ease-in-out;
}

.newairs-services{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newairs-services h2{
    color: var(--main-blue);
    font-size: 30px;
    margin-bottom: 50px;
}

.newairs-services .services{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.newairs-services .services div{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.newairs-icon{
    color: #00d0c2 !important;
}

.newairs-services .services div h3{
    font-size: 25px;
    margin-top: 5px;
    color: #00d0c2;
    text-align: center;
    font-family: var(--myriad-regular);
}

/* new airs */

/* administracion */
.administracion{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.administracion h1{
    color: var(--main-blue);
    text-align: center;
    font-size: 40px;
}

.admin-presentation{
    margin: 70px 0px;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.admin-presentation-data{
    width: 70%;
    display: flex;
    align-items: flex-end;
}

.admin-presentation-data p{
    font-size: 24px;
    text-align: center;
    margin: 0px !important;
}

.logo-dc-admin{
    display: flex;
    flex-direction: row;
    width: 25%;   
    align-items: center;
}

.logo-dc-admin img{
    width: 180px;
    margin-right: 20px;
}

.logo-dc-admin p{
    display: flex;
    margin-bottom: 0px;
    font-size: 45px;
    color: var(--main-blue);
    align-items: flex-end;
}

.admin-images{
    width: 300px;
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.658);
}

.our-clients{
    padding: 0px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.our-clients h2{
    color: var(--main-blue);
    font-size: 40px;
    margin-bottom: 0px;
    font-family: var(--myriad-bold);
}

.clients-logos{
    height: 200px !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.clients-logos img{
    width: 250px !important;
    margin: 0px 50px;
    max-height: 50% !important;
}

.clients{
    margin-top: 80px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clients .client{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px;
}

.clients .client i{
    color: var(--main-blue);
    font-size: 70px;
}

.clients .client h3{
    margin-top: 10px;
    color: var(--main-blue);
    font-size: 30px;
}

.buildings{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.building{
    margin: 50px 30px;
    margin-top: 10px !important;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: flex-start; 
}

.building div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.building h2{
    font-size: 40px;
    color: var(--main-blue);
    margin: 0px !important;
    font-family: var(--myriad-light);
}

.building h3{
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 5px;
    color: var(--main-blue);
    font-family: var(--myriad-bold);
}

.building h4{
    margin-top: 0px;
    font-size: 24px;
    color: var(--main-blue);
    font-family: var(--myriad-bold);
    text-align: start;
}

.building-img{
    margin: 50px auto;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 90;
    overflow:hidden;
}

.building-img .admin-images{
    transition: 0.5s;
}

.admin-images:hover {
    transform: scale(1.2);
}



.ribbon-wrapper {
    width: 85px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: -3px;
}

.ribbon {
  font: bold 20px sans-serif;
  color: #333;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: relative;
  padding: 7px 0;
  top: 26px;
  left: -111px;
  width: 120px;
  background-color: #eb3434;
  color: #fff;
}


/* administracion */


/* pages */


/* footer */
footer{
    background: rgb(51,78,106);
    background: linear-gradient(180deg, rgba(51,78,106,1) 5%, rgba(20,43,66,1) 46%);
    width: 100%;
    height: 200px;
    position: relative;
    bottom: 0px;
}

.color-w{
    color: var(--main-white);
}

footer .footer-data{
    margin: 20px 0px;
    width: 100%;
}

.footer-logo{
    display: flex;
    flex-direction: row ;
    align-items: center;    
}

.footer-logo a{
    margin-left: 60px;
}

.footer-logo div{
    margin: 0px 10px;
}

.footer-logo img{
    width: 110px;
}

.footer-logo div p:first-child  {
    font-size: 50px;
    margin: 0px 0px;
}

.footer-logo div p:last-child{
    margin: 0px 0px;
    font-size: 30px;
    padding-left: 2px;
}

.footer-contact{
    color: var(--main-white);
    justify-content: center;
}

.footer-contact .social-media{
    justify-content: center !important;
}

.footer-logo p{
    color: var(--main-white);
}

.deco-footer{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);

    position: absolute;
    bottom: 0;
    height: 200px !important; /* the same footer height */
    right: 0;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media  a{
    font-size: 40px;
    color: var(--main-white);
    margin-right: 35px;
    transition: all 0.2s ease-in-out;
}

.social-media  a:hover{
    color:var(--aqua-blue);
}

/* footer */







































































































/* construccion */
.construction_page{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images_construction{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.images_construction div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images_construction div h2{
    font-family: var(--myriad-black);
    color: var(--main-white);
}

.construction_page img{
    width: 150px;
    height: 150px !important;
}

.construction_page h1{
    font-size: 50px !important;
    font-size: var(--myriad-bold);
    color: var(--main-white);
    margin-top: 0px;
}

/* construction */



/* media query */
@media screen and (max-width:1400px) {
    #contact-form input, #contact-form select{
        font-size: 16px;
    }

    #video-yt{
        width: 90%;
        height: 70%;
    }

    .registrate-consorcio{
        font-size: 25px !important;
    }

    .div-qr img{
        width: 170px;
    }
}

@media screen and (max-width:1300px) {
    .eslogan{
        padding-bottom: 40px;
        font-size: 65px;
    }

    .div-contable div p{
        font-size: 16px;
    }

    .section-contable .us-contable p{
        font-size: 20px;
    }
}

@media screen and (max-width:1200px) {
    .contact-us p{
        font-size: 25px;
    }

    .contact-us{
        width: 40% !important;
    }

    .contact-us-form{
        width: 60% !important;
    }

    .our-suppliers{
        margin-top: 0px;
    }

    .contact{
        margin-bottom: 30px;
    }

    #video-yt{
        height: 60%;
    }

    .div-qr{
        margin-top: 0px;
    }

    .video-consorcio{
        display: flex;
        align-items: baseline;
    }

    .store-consorcio{
        font-size: 18px !important;
    }

    .div-contable h3{
        font-size: 20px;
    }

    .section-contable .us-contable p{
        font-size: 18px;
    }

    .section-contable .contable-services {
        width: 60%;
    }

    .section-contable .us-contable {
        width: 40%;
    }
}

@media screen and (max-width:1024px) {
    .section-contable{
        flex-direction: column-reverse;
        max-width: 100% !important;
        justify-content: center;
        align-items: center;
    }

    .section-contable .contable-services, .section-contable .us-contable{
        width: 100%;
        padding: 0px !important;
    }

    .section-contable .us-contable p{
        margin: 20px 60px !important;
    }

    .contable-services {
        margin-top: 60px;
    }

    .contable-services div{
        width: 60%;
    }

    .div-contable{
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .nav-bar .nav-buttons a{
        font-size: 15px;
    }

    #contact-form input, #contact-form select{
        font-size: 13px;
    }

    .contact-us .contact-data p{
        font-size: 20px;
    }
    
    .we-are p{
        font-size: 20px;
    }
}

@media screen and (max-width:900px) {
    .contact-div{
        flex-direction: column-reverse !important;
        height: fit-content !important;
    }

    .contact-us, .contact-us-form{
        width: 80% !important;
    }

    .contact-us{
        flex-direction: row !important;
        width: 80% !important;
        margin-top: 30px ;
    }

    .contact-us .contact-data{
        width: 70% !important;
    }

    .contact-us .contact-data p{
        font-size: 20px;
    }
    
    .social-media {
        width: 30% !important;
    }

    .eslogan{
        font-size: 55px;
    }

    .logo-institution p{
        font-size: 16px;
    }

    .contact-nav a{
        font-size: 18px;
    }
}

@media screen and (max-width:800px) {
    .contact-text{
        font-size: 20px;
    }

    .construction_page h1{
        font-size: 35px !important;
    }

    .social-media {
        display: none;
    }

    .contact-us .contact-data{
        width: 60% !important;
    }

    .contact-us .contact-data p{
        font-size: 18px;
    }
    
    .social-media {
        width: 40% !important;
    }

    .social-media  a{
        font-size: 30px;
    }

    .footer-logo div p:first-child{
        font-size: 40px;
    }

    .footer-logo div p:last-child{
        font-size: 25px;
    }

    .nav-bar .nav-buttons a{
        font-size: 14px;
        margin: 0px 15px;
    }

    .logo-consorcio{
        width: 400px;
    }

    .contact-us{
        margin-bottom: 15px;
    }
}

@media screen and (max-width:700px) {
    .logo-institution p {
        margin-right: 15px;
    }

    .eslogan{
        font-size: 42px;
    }

    .consorcio-libre .container{
        flex-direction: column;
    }

    .consorcio-libre .container div{
        width: 100%;
    }

    #video-yt{
        height: 80%;
    }

    .video-consorcio{
        height: 300px;
        align-items: center;
    }

    .nav-buttons{
        display: none !important;
    }

    .nav-buttons-mobile{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: right;
        padding-right: 30px !important;
    }
    
    .mobile-icon{
        color: #fcfcfc;
        font-size: 30px;
    }

    .mobile-menu-nav{
        position: absolute;
        top: 160px;
        background: linear-gradient(to right ,var(--aqua-blue) , var(--main-blue) 35%);
        align-items: flex-end;
        padding-bottom: 40px;
        padding-top: 20px;
        z-index: 999;
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.658);
    }
    
    .mobile-menu-nav a{
        color: var(--main-white);
        text-decoration: none !important;
        font-size: 17px;
        font-family: var(--montserrat);
        margin: 10px 20px;
        text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.562);
        transition: all 0.4s ease-in-out;
    }

    .contable-services div{
        width: 75%;
    }

}


@media screen and (max-width:600px) {    
    .logo-institution p {
        width: 40%;
    }

    .contact-nav a{
        margin: 0px 10px;
    }

    .deco-footer, footer{
        height: 170px !important;
    }

    .contact-text{
        font-size: 16px;
        margin: 20px 10px;
    }

    .contact h2{
        font-size: 30px;
    }

    .contact-nav a{
        font-size: 15px;
    }

    #video-yt{
        width: 100%;
    }

    .footer-logo{
        margin-left: 30px;
    }

    .go-up{
        width: 50px;
        height: 50px;
        border-radius: 35px;
    }
    
    .go-up i{
        font-size: 30px;
    }
}

@media screen and (max-width:500px) {
    .img-home{
        background-position: center 10%;
    }

    .section-contable .us-contable p{
        margin: 18px 30px !important;
    }

    .div-contable h3{
        font-size: 17px;
    }

    .contable-services{
        margin-top: 15px;
    }
    
    .cont-list{
        padding-left: 25px;
    }

    .contable-services div{
        width: 82%;
    }

    .section-contable .us-contable h3{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .section-contable .us-contable p{
        font-size: 16px;
    }

    .footer-logo div p:last-child{
        font-size: 20px;
    }

    #contact-form .name{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 1;
    }

    #contact-form .email{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 2;
    }

    #contact-form .reason{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 3;
    }

    #contact-form .address{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 4;
    }

    #contact-form .sent-form{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 5;
    }

    .contact-us {
        flex-direction: column !important;
    }

    .contact-us .contact-data, .social-media {
        width: 100% !important;
        align-items: center !important;
    }

    .contact-us .contact-data p{
        font-size: 20px;
    }

    .social-media {
        margin-bottom: 20px;
        justify-content: center !important;
        margin-top: 0px !important;
    }
    
    .social-media  a{
        margin: 0px 20px !important;
    }

    .footer-logo{
        margin-left: 10px !important;
    }

    .eslogan{
        font-size: 35px;
    }

    .registrate-consorcio{
        font-size: 20px !important;
    }

    .store-consorcio{
        font-size: 14px !important;
    }

    .container{
        padding: 0px 20px !important;
    }

    .logo-consorcio{
        width: 300px;
    }

    #contact-link, #us-link{
        display: none !important;
    }
}

@media screen and (max-width:400px) {
    .contable-services div{
        width: 92%;
    }
}